<form #simpleForm="ngForm" (submit)="onFormSubmit(simpleForm)">
  <div class="form-row">
    <div class="col-sm-12">
      <label for="first">Email</label>
      <input id="first" class="form-control"
        [ngClass]="{'is-invalid': first.invalid && first.dirty, 'is-valid': first.valid}" type="text" name="email"
        ngModel required #first="ngModel" />
      <div class="invalid-feedback">
        Please input first..
      </div>
    </div>
    <div class="col-sm-12">
      <label for="second">Password</label>
      <input id="second" class="form-control" type="password" name="password" ngModel required #second="ngModel" />
      <div class="invalid-feedback">
        Please choose second.
      </div>
    </div>
    <div class="col-sm-12">
      <button class="btn btn-primary" [ngClass]="{disabled: simpleForm.invalid}"
        [disabled]="simpleForm.invalid">Login</button>
    </div>
  </div>
</form>
<button class="btn btn-link" (click)="onRegisterClick()">create new account</button>
