<form [formGroup]="simpleForm" (submit)="onFormSubmit()">
  <div class="form-row">
    <div class="col-sm-12">
      <label for="first">Email</label>
      <input id="first" class="form-control" formControlName="email"
        [ngClass]="{'is-invalid': simpleForm.get('email').invalid && simpleForm.get('email').dirty, 'is-valid': simpleForm.get('email').valid}"
        type="text" />
      <div class="invalid-feedback">
        Please input first..
      </div>
    </div>
    <div class="col-sm-12">
      <label for="second">Password</label>
      <input id="second" class="form-control" type="password" formControlName="password"
        [ngClass]="{'is-invalid': simpleForm.get('password').invalid && simpleForm.get('password').dirty, 'is-valid': simpleForm.get('password').valid}" />
      <div class="invalid-feedback">
        Please choose second.
      </div>
    </div>
    <div class="col-sm-12">
      <button class="btn btn-primary" [ngClass]="{disabled: simpleForm.invalid}"
        [disabled]="simpleForm.invalid">Register</button>
    </div>
  </div>
</form>
