<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand btn">Navbar</a>
  <button class="navbar-toggler" type="button" (click)="isCollapse = !isCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link btn">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn">Link</a>
      </li>
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
          aria-controls="dropdown-basic">
          Button dropdown <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item btn">Action</a></li>
          <li role="menuitem"><a class="dropdown-item btn">Another action</a></li>
          <li role="menuitem"><a class="dropdown-item btn">Something else here</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item btn">Separated link</a>
          </li>
        </ul>
      </div>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
